@using MyEhealth.Web.Models.ViewModels;
@{
    Layout = null;
    ViewData["Title"] = "Registration";
    var registerInputModel = new RegisterInputModel();
    registerInputModel.Email = "test@gmail.com";
    registerInputModel.Password = "test@123";
    registerInputModel.ConfirmPassword = "test@123";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="register-box">
        <div class="register-logo">
            <b>E</b>Health
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register</p>

                <form asp-action="RegisterPost" asp-controller="Account" method="post">
                    <span asp-validation-for="@registerInputModel.Name" class="text-danger small"></span>
                    <div class="input-group mb-3">
                        <input asp-for="@registerInputModel.Name" class="form-control" placeholder="Full name" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="@registerInputModel.Email" class="text-danger small"></span>
                    <div class="input-group mb-3">
                        <input asp-for="@registerInputModel.Email" class="form-control" placeholder="email" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="@registerInputModel.Password" class="text-danger small"></span>
                    <div class="input-group mb-3">
                        <input asp-for="@registerInputModel.Password" type="password" class="form-control" placeholder="Password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="@registerInputModel.ConfirmPassword" class="text-danger small"></span>
                    <div class="input-group mb-3">
                        <input asp-for="@registerInputModel.ConfirmPassword" type="password" class="form-control" placeholder="Retype password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <a asp-action="Login" asp-controller="Account" class="my-2 text-center">I already have a account</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>